<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.learn.FirstTest"/>
            <class name="com.learn.SecondTest"/>
            <class name="com.learn.LongTest"/>
        </classes>
    </test>
   
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.learn.FirstTest"/>
            <class name="com.learn.SecondTest"/>
        </classes>
    </test>
</suite>